/* Styles go here */

*{
  font-family: 'Solway', serif;
  line-height: 1.5;
}

.navbar {
  border-bottom: solid 4px #27ae60;
}



#services {
  background-color: #27ae60;
  color:white;
}

.reasons-icon{
  width:250px;
  padding:10px 30px;
}

#services div p{
  color:black;
  font-size:1.2em;
}

.sub-btn, .sub-btn:hover{
 background-color: #27ae60;
 border:none;
}

#footer{
  background-color: white;
  height:75px;
}

#pricing-section, .price-btn{
  background-color:#3498db;
}

.price-box{
  box-shadow: 10px 10px #2c3e50;
}

.price-box ul{
  font-size: 0.9em;
}



@media (max-width 768px){
  .price-box ul{
    text-align:center;
  }

}


@media (max-width: 568px){
   .nav-item{
     display:none;
   }

nav{
  text-align:center;
}

   .navbar-brand{
     width:100%;
   }

#choose-us div{
  justify-content:center;
  margin: 0px;
}

.reasons-icon{
  width:200px;
}
