
* {padding: 0; margin: 0;font-family: 'Solway', serif;text-decoration: none;list-style: none;line-height: 1.5;}


/* nav bar css */
.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #2ecc71;
  padding: 0px 70px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 95%; /* Full width */
  background-color: white;
}

.logo a {
  color: #2ecc71;
}

.navigation  {
  display: flex; 
}

.navigation a {
  display: block;
  padding: 1em 50px;
  color: black;
  font-size:15pt;
}

.navigation a:hover{
  background-color:#2ecc71;
}


/* header image */
#headerimg img{
  display: flex;
  width: 100%;
  height:600px;
}


/* reasons to buy */
#reasons-section{
  padding:50px 0px;;
}

#reasons-container{
  padding-top:20px;
  margin:auto;
  width: 80%;
  font-size:13pt;
  display:flex;
  justify-content: space-around;
}

.reason-boxs{
  margin:30px 0px;
  padding:10px 0px;
  width: 30%;
  background-color: white;
  text-align: center;
  border: solid 2px #2ecc71;
  
  
}
.reason-boxs h2, .reason-boxs p{
  padding: 10px 30px;
}
.reasons-icon{
  width:80px;
  padding:10px 30px;
}


/* our services section */
#our-services-section{
  background-color: #27ae60;
  padding: 50px 0px;
}


#service-container{
  padding-top:20px;
}

.service-description{
  width:50%;
  margin:25px auto;
  padding:20px 0px;
  text-align:center;
  font-size:13pt;
  border: solid 2px rgba(255, 255, 255, .2);
}
#our-services-section h1,  #our-services-section h2{
  color:white;
  text-align: center;
}

.service-description h2, p{
  padding: 12px 50px;
  display:inline-flex;
}
.service-icon{
  width:45px;
}

/* contact us */
#contact-us-section{
  margin:30px auto;
  width:50%;
  text-align: center;
}
#contact-form{
  margin: 25px auto;
  font-size:13pt;
  background-color:white;
}

#contact-form input{
  padding: 10px;
  width:50%;
  margin: 10px 0px;
  border: solid 1px #2ecc71;
  font-size:13pt;
}

#contact-form textarea{
  width:65%;
  height:200px;
	border: 3px solid #2ecc71;
	padding: 5px;
  resize:none;
  font-size:13pt;
}

#contact-form button{
  background-color: #2ecc71;
  width:35%;
  height:50px;
  border:none;
  color:white;
  font-size: 13pt;
}

@media(max-width:950px){

  
  #reasons-container{
    width: 50%;
    display:block;
  }
  .reason-boxs{
    width:100%;
    display:block;
  }
  
  #contact-us-section{
    width:80%;
  }
  .navigation li a{
    font-size:1em;
  }
  
}

@media only screen and (max-width:810px){

  /* navigation bar */

  .flex-container{
    visibility: hidden;
  }
/* header image */
#headerimg img{
height:350px;
}

/* reasons to choose us */
#reasons-container{
  width: 90%;
  display:block;
}
.reason-boxs{
  width:100%;
  display:block;
  border: none;
}

/* services we offer */
.service-description{
width:90%;
border: none;
}
.service-description h2, p{
padding: 12px 40px;
}

/* contact us form */
#contact-us-section{
margin:30px auto;
width:90%;
text-align: center;
}
#contact-form input{
width:90%;
}

#contact-form textarea{
width:90%;
height:150px;
}

#contact-form button{
width:70%;
}
#contact-us-section{
  width:80%;
  }
}


